:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  * {
    &::selection {
      background: unset;
    }
  }
}
.game_container {
  display: flex;
  flex-direction: column;
  background: rgb(236, 228, 206);
  gap: 1rem;
  .game_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: max-content;
    padding: 1rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    .title {
      font-size: 32px;
      color: goldenrod;
    }
    button {
      min-width: 7rem;
    }
    .other_info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-left: auto;
      font-size: 1rem;
      .mat-radio-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }
  .game_canvas {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background: rgb(219, 211, 172);
    height: 100%;
    margin: 0 1rem 1rem;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .warn_wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: rgb(36, 32, 30);
        color: goldenrod;
        background: #b38000;
        padding: 1rem;
      }
      .score {
        font-size: 1rem;
        background: #b38000;
        padding: 0.5rem 1rem;
      }
    }
  }
  .bug {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    ng-lottie {
      &::selection {
        background: unset;
      }
    }

    &:active {
      transform: translateY(8px);
    }
  }
}

.mat-form-field {
  max-width: 8rem;
  input {
    text-align: center;
  }
  ::ng-deep.mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }
}

p {
  margin-top: 1rem;
}
