<div class="game_container" [ngStyle]="{'width':screenWidth / 1.5 + 'px', 'height':screenHeight / 1.5 + 'px'}">
  <div class="game_header">
    <button mat-raised-button (click)="startGame()">Play</button>
    <button mat-raised-button [disabled]="!isGameStarted" (click)="stopGame()">Stop</button>
    <button mat-raised-button [disabled]="!isGameStarted" (click)="resetGame()">Reset</button>

    <div class="other_info">
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="currentLevel">
        <mat-radio-button (change)="changeLevel(level)" class="example-radio-button" *ngFor="let level of levels"
          [value]="level.speed">
          {{level.label}}
        </mat-radio-button>
      </mat-radio-group>
      <span class="score">Score: <strong>{{score}}</strong></span>
      <span class="time">Time: <strong>{{countDown}}</strong></span>
    </div>
  </div>

  <div class="game_canvas">
    <span class="bug" [ngStyle]="{'top':top +'px', 'left':left + 'px'}" (click)="makeScore()">bug</span>
  </div>
</div>
