<div class="game_container" [ngStyle]="{'width':screenWidth / 1.5 + 'px', 'height':screenHeight / 1.5 + 'px'}">
  <div class="game_header">
    <button mat-raised-button (click)="startGame()">Start Game</button>
    <button mat-raised-button (click)="playGame()" *ngIf="isPaused && isGameStarted">Play</button>
    <button mat-raised-button (click)="pauseGame()" *ngIf="!isPaused && isGameStarted">Pause</button>
    <button mat-raised-button (click)="endGame()" *ngIf="isGameStarted">End Game</button>
    <form [formGroup]="setTimeForm" (ngSubmit)="addTime()">
      <mat-form-field appearance="outline">
        <mat-label>Set Timer</mat-label>
        <input type="number" matInput placeholder="Time in Seconds" formControlName="setTimeValue">
      </mat-form-field>
    </form>
    <div class="other_info">
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="currentLevel">
        <mat-radio-button (change)="changeLevel(level)" class="example-radio-button" *ngFor="let level of levels"
          [value]="level.speed">
          {{level.label}}
        </mat-radio-button>
      </mat-radio-group>
      <span class="score">Score: <strong>{{score}}</strong></span>
      <span class="time">Time: <strong>{{timeCountDown}}</strong></span>
    </div>
  </div>


  <div class="game_canvas">
    <span class="warn_wrapper" *ngIf="isGameOver || isPaused">
      <span class="warn">
        <ng-lottie [options]="options2" width="100px" height="100px" (animationCreated)="animationCreated($event)">
        </ng-lottie>
      </span>
      <span class="warn">Game {{isPaused? 'Paused':'Over'}}</span>
      <span class="score">Your Score is : {{score}}</span>
    </span>
    <ng-lottie class="bug" *ngIf="!isGameOver" [ngStyle]="{'top':top +'px', 'left':left + 'px'}" (click)="makeScore()"
      [options]="options" width="100px" height="100px" (animationCreated)="animationCreated($event)"></ng-lottie>
    <!-- <span class="bug" [ngStyle]="{'top':top +'px', 'left':left + 'px'}" (click)="makeScore()"></span> -->
  </div>
</div>
<p>Powered by Md. Arif Matubber V-1.00</p>
